@media (min-width: 992px) {
  .Sidebar {
    &-inner {
      margin: 50px 40px;
    }
  }
}

@media (max-height: 768px) {
  .Sidebar {
    &-line {
      top: 20%;
      bottom: 45%;
    }
  }
}

@media (max-height: 600px) {
  .Sidebar {
    &-line {
      top: 10%;
      bottom: 55%;
    }
  }
}

@media (max-height: 500px) {
  .Sidebar {
    &-line {
      top: 15%;

      &::after {
        display: none;
      }
    }
  }
}
